# Python virtual environments
venv/
.venv/
env/

# Anaconda / Conda
.conda/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Distribution / packaging
*.egg-info/
dist/
build/
